body {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: sans-serif;
}

.header,
.top,
.footer {
    background-color: #1F2937;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

li {
    list-style: none;
    margin-left: 32px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    flex: 1 0 auto;
}

.header {
    display: flex;
    padding: 0 48px;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
}

ul {
    display: flex;
    flex: 1 0 auto;
    justify-content: right;
}



.top {
    display: flex;
    padding: 48px 128px 100px;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
    margin-bottom: 0;
}

.top img,
.left {
    max-width: 500px;
    flex: 1;
}

.top img {
    min-height: 200px;
}

img {
    border: 3px solid rgb(27, 190, 245);
    background-color: gray;
}

.subtext {
    color: #e5e7eb;
    font-size: 15px;
    margin-bottom: 8px;
}
.left button {
    background-color: #3882f6;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    border: #3882f6;
    color: #f9faf8;
}




