body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
}
* {
    flex: 0 1 auto;
}

.header,
.top,
.footer {
    background-color: #1F2937;
}


a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

li {
    list-style: none;
    margin-left: 32px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    flex: 1 0 auto;
}

.header {
    display: flex;
    padding: 16px 256px;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

ul {
    display: flex;
    flex: 1 0 auto;
    justify-content: right;
}



.top {
    display: flex;
    padding: 80px 256px 256px;
    justify-content: space-between;
    gap: 32px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 1000;
    margin-bottom: 0;
}

.top img {
    height: 300px;
    width: 750px;
    flex: 0 1 auto;
    background-color: grey;
    border: 4px solid #3882f6;
}

.subtext {
    font-size: 18px;
    margin-bottom: 8px;
}

.left .subtext {
    color: #e5e7eb;
}

.left button {
    background-color: #3882f6;
    border-radius: 8px;
    width: 128px;
    height: 32px;
    border: #3882f6;
    color: #f9faf8;
    flex: 0 1 auto;
    font-weight: 900;
    font-size: 15px;
}

.left {
    padding-top: 30px;
    max-width: 600px;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    margin: 48px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;  
}

.img-and-text {
    display: flex;
    gap: 40px;
    margin-bottom: 72px;
    justify-content: center;
}

.one,
.two,
.three,
.four {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 200px;
    min-width: 100px;
    text-align: center;
}

.img-and-text img {
    border: 4px solid #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin-bottom: 8px;
}